<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/common.css">
  <title>👾 Welcome to devlog</title>
</head>
<body>
  <header class="display-flex justify-center">
    <h1>devlog에 오신것을 환영합니다 🤖</h1>
  </header>
  <article>
    <div id="btn-set" class="text-center pd-1">
      <button type="button" onclick="location.href = '/list'">입장하기</button>
    </div>
  </article>
  <footer class="display-flex justify-center font-small">
    <span>ⓒ made by eunbyul.ahn</span>
  </footer>
</body>
</html>